<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
</head>

<body>
    <div class="float-right">
        <ul class="pagination">
            <li class="previous disabled"><a tabindex="0" role="button" aria-disabled="true">previous</a></li>
            <li class="active"><a role="button" tabindex="0" aria-label="Page 1 is your current page"
                    aria-current="page">1</a></li>
            <li><a role="button" tabindex="0" aria-label="Page 2">2</a></li>
            <li><a role="button" tabindex="0" aria-label="Page 3">3</a></li>
            <li><a role="button" tabindex="0" aria-label="Page 4">4</a></li>
            <li><a role="button" tabindex="0" aria-label="Page 5">5</a></li>
            <li><a role="button" tabindex="0" aria-label="Page 6">6</a></li>
            <li class="break-me"><a role="button" tabindex="0">...</a></li>
            <li><a role="button" tabindex="0" aria-label="Page 29">29</a></li>
            <li><a role="button" tabindex="0" aria-label="Page 30">30</a></li>
            <li class="next"><a tabindex="0" role="button" aria-disabled="false">next</a></li>
        </ul>
    </div>
</body>

</html>